<mat-toolbar color = "primary">
  <button mat-raised-button color = "warn" routerLink = "/home">Tone Analyzer</button>
  <span class="example-fill-remaining-space"></span>
  <button  mat-raised-button color = "warn" routerLink = "/raw-data">Raw Data</button>
  <span class="example-fill-remaining-space"></span>
  <span><i class = "em em-bread"></i></span>
  <span><i class = "em em-icecream"></i></span>
  <span><i class = "em em-package"></i></span>
</mat-toolbar>

<router-outlet></router-outlet>
